<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redacte card</title>
</head>
<body>
    <style>
        form{
            display: grid;
            width: 30%;
            height: 40vh;
            grid-gap: 1vh;
        }
    </style>

    <form method="POST">
        <input type="text" name="header" value="{{ card.header }}">
        <input type="number" name="price" value="{{ card.price }}">
        <textarea name="text">{{ card.text }}</textarea>
        <input type="text" name="img" value="{{ card.img }}">
        <button onclick="/redCard">Обновить</button>
        {% if card.hit %}
            <input type="checkbox" name="checkbox" checked>
        {% else %}
            <input type="checkbox" name="checkbox">
        {% endif %}
    </form>
    Очень вкусный, насыщенный, а главное - натуральный. Без консервантов и химических добавок. Обладает манящим запахом и особо привлекательной ценой. Постоянным клиентам - постоянные скидки. Не ждите - покупайте наш чай, и наслаждайтесь обыкновенным, но лучшим иван-чаем.
</body>
</html>